@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
}

/* Set a background color and add some padding */
body {
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    
}

/* Navigation menu styles */
nav {
    width: 100%;
    background-color: #8400ff;
    position: fixed; /* Fix the navbar to the top */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure navbar is on top */
    display: flex;
    align-items: center; /* Center the items vertically */
    padding: 0 20px; /* Add padding for spacing */
}

/* Logo container */
.logo-container {
    flex-shrink: 0; /* Prevent logo from shrinking */
    margin-left: 200px;
    padding: 0;

}
.logo-link {
    text-decoration: none;
}

.logo-link:hover {
    text-decoration: none; 
}

.logo {
    height: 40px; 
    width: auto;
    margin-top: 5px;
}


/* Navigation list */
nav ul {
    display: flex;
    justify-content: flex-start; 
    list-style-type: none;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    width: 100%; /* Ensure the list takes full width */
}

/* Dropdown and navigation link styles */
nav li {
    position: relative; /* Required for dropdown positioning */
}

nav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.1s ease; /* Smooth hover effect */
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #ffaa0c;
}

/* Dropdown styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #8400ff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ffaa0c;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.1s ease, color 0.1s ease; 
}

nav a:hover {
    background-color: #ffaa0c;
}
