/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Global Body Style */
body {
    background-color: #f9f9fb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Form Container */
.search-form {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 25px;
    margin-bottom: 20px;
    gap: 10px;
}

/* Search Input */
#search-input {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    outline: none;
    width: 300px;
    height: 45px;
    border-radius: 25px;
    background-color: #f0f0f5;
    transition: background-color 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);

}

#search-input:focus {
    background-color: #e0e0ea;
}

/* Search Dropdown */
.search-select {
    padding: 5px ;
    font-size: 1em;
    border: none;
    border-radius: 25px;
    background-color: #f0f0f5;
    cursor: pointer;
    width: 95px;
    height: 45px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);

}

.search-select:focus {  
    background-color: #e0e0ea;

}
.search-select option {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 25px;
    background-color: #f0f0f5;
    cursor: pointer;
    width: 100px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Search Button */
.search-button {
    padding: 12px 10px;
    background-color: #ffaa0c;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);

}

.search-button:hover {
    background-color: #e6990b;
}

/* Display Container */
.display-container {
    margin-top: 40px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Display Item Styles */
.anime-item, .manga-item {
    width: calc(25% - 20px);
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.anime-item img, .manga-item img {
    width: 100%;
    height: 90%;
}

.anime-item h2, .manga-item h2 {
    margin-top: 10px;
    font-size: 1em;
    color: #333;
}

.anime-item:hover, .manga-item:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .anime-item, .manga-item {
        width: calc(33% - 20px);
    }
}

@media (max-width: 992px) {
    .anime-item, .manga-item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .anime-item, .manga-item {
        width: calc(100% - 20px);
    }

    #search-input {
        width: 200px;
    }
}

@media (max-width: 480px) {
    #search-input {
        width: 150px;
    }
}
